/* ================================= 
  Base Element Styles
==================================== */

/* CSS variables  */
:root {
  --logo-color: #087a2e;
  --body-color: #1f1f1f;
  --body-bg: rgba(214, 231, 215, 0.74);
  /* --h1-text-shadow: rgba(255, 255, 255, 0.85); */
  --label-color: #1f1f1f;

  --form-bg: #bdcde0;
  --form-border: rgba(68, 68, 68, 0.6);
  --form-divs: rgba(68, 68, 68, 0.6);

  --input-border: rgba(68, 68, 68, 0.6);
  --input-bg: #e9f6fb;

  --input-focus-border: #5e8d6d;
  --input-focus-bg: #fff;

  --btn-bg: #5e8d6d;
  --btn-color: #fff;
  --btn-hover-bg: #737e8d;

  --select-bg: rgba(255, 255, 255, 0.1);

  --error-color: #df2323;
}

/* @import url(sanitize.css); */
/* brought into index.html */

/* @import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  box-sizing: border-box;
}

body,
input,
button {
  font-family: 'Pacifico', cursive;
}

body {
  font: 1em/1.5;
  color: var(--body-color);
  background: var(--body-bg);
}

header {
  text-align: center;
}

h1 {
  font-size: 3em;
  text-shadow: 0 1px 0 var(--h1-text-shadow);
  margin: 0;
  font-family: 'Pacifico', cursive;
}

a {
  text-decoration: none;
}

/* ================================= 
  Form Element Styles
==================================== */

form {
  padding: 0.875em 1.875em 1.875em;
  background: var(--form-bg);
  border: 2px solid var(--form-border);
  border-radius: 5px;
}

fieldset,
legend,
button {
  padding: 0;
  border: none;
}

fieldset {
  margin-top: 1.5em;
}

legend,
button {
  font-size: 1.25em;
}

legend {
  font-weight: bold;
  padding-top: 0.5em;
  border-top: 2px solid var(--form-divs);
  margin-bottom: 1.125em;
}

input[type='text'],
input[type='email'],
legend {
  width: 100%;
}

label {
  color: var(--label-color);
  display: block;
  margin-bottom: 0.5em;
}

input,
select {
  margin-bottom: 1.125em;
}

input {
  font-size: 1em;
  font-weight: 500;
  padding: 0.8em;
  background: var(--input-bg);
  border: 2px solid var(--input-border);
  border-radius: 5px;
  outline: none;
}

input:focus {
  background: var(--input-focus-bg);
  border-color: var(--input-focus-border);
  transition: border-color 0.4s, background-color 0.4s;
}

input[type='checkbox'],
input[type='radio'] {
  display: inline-block;
}

button {
  color: var(--btn-color);
  padding: 0.55em 1.25em;
  background: var(--btn-bg);
  margin: 1.25em auto 0.5em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: all 0.5s;
  padding: 1rem;
  width: 100%;
}

button:hover {
  background: var(--btn-hover-bg);
}

input,
select,
option {
  font-family: 'roboto', sans-serif;
}

/* ================================= 
  Page Styles
==================================== */

.container {
  margin: auto;
  max-width: 680px;
}

.shirt div {
  float: left;
  margin-right: 0.85em;
}

.shirt-box {
  width: 100%;
  padding: 5px;
  background: var(--select-bg);
  border-radius: 4px;
}

.interests input {
  margin-bottom: 0;
}

.credit-card {
  margin-top: 1.25em;
}

.credit-card,
.paypal,
.bitcoin {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  background: var(--select-bg);
  border-radius: 4px;
}

/* ================================= 
  Helper Classes
==================================== */

.is-hidden {
  display: none;
}

.clearfix::after {
  content: ' ';
  display: table;
  clear: both;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 0) and (max-width: 679px) {
  header {
    padding: 2em 0;
  }
  button {
    width: 100%;
  }
}

@media (min-width: 680px) {
  header {
    padding: 4.65em 0 2.5em;
  }
  .col {
    float: left;
  }
  .col + .col {
    margin-left: 2.5%;
  }
  .col-3 {
    width: 23%;
  }
  .col-6 {
    width: 49%;
  }

  label {
    clear: both;
  }
}

/* changes other than colors that i made */

#main-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  margin-right: 1rem;
  color: var(--logo-color);
}

/* utility class */
.error-danger {
  color: var(--error-color);
}

.disabled {
  text-decoration: line-through;
}

select {
  border: 1px solid var(--body-color);
  border-radius: 5px;
}
